---
layout: archive
title: "Conference presentations and posters"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
  <p>
    <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
  </p>
{% endif %}

{% assign talks = site.talks | sort: "date" | reverse %}
{% assign current_year = "" %}

{% for post in talks %}
  {% assign year = post.date | date: "%Y" %}

  {% if year != current_year %}
    {% assign current_year = year %}
    <h3 class="talk-year">{{ year }}</h3>
  {% endif %}

  {% include talk-entry.html %}
{% endfor %}