---
layout: archive
title: "Conference presentations and posters"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
  <p>
    <a href="{{ '/talkmap.html' | relative_url }}">
      See a map of all the places I've given a talk!
    </a>
  </p>
{% endif %}

{% assign oral_talks = site.talks | where: "category", "oral" | sort: "date" | reverse %}

{% if oral_talks.size > 0 %}
  <h2 class="pub-category">Oral presentations</h2>

  {% assign current_year = "" %}
  {% for post in oral_talks %}
    {% assign year = post.date | date: "%Y" %}

    {% if year != current_year %}
      {% assign current_year = year %}
      <h3 class="pub-year">{{ year }}</h3>
    {% endif %}

    {% include talk-entry.html %}
  {% endfor %}
{% endif %}

{% assign poster_talks = site.talks | where: "category", "poster" | sort: "date" | reverse %}

{% if poster_talks.size > 0 %}
  <h2 class="pub-category">Poster presentations</h2>

  {% assign current_year = "" %}
  {% for post in poster_talks %}
    {% assign year = post.date | date: "%Y" %}

    {% if year != current_year %}
      {% assign current_year = year %}
      <h3 class="pub-year">{{ year }}</h3>
    {% endif %}

    {% include talk-entry.html %}
  {% endfor %}
{% endif %}